body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
}

#apiData {
  display: grid;
  grid-auto-rows: auto;
  gap: 1rem;
}

.item {
  display: flex;
  border: 1px solid black;
  padding: 10px;
}

.vote-average-section {
  display: flex;
  align-items: center;
}

ol {
  list-style: none;
  counter-reset: list-counter;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
  counter-increment: list-counter;
}

li::before {
  content: counter(list-counter) ". ";
  margin-right: 8px;
}

.item img {
  order: -1;
  margin-right: 10px;
  width: 55px;
  border-radius: 0.3rem;
}

.movie-details {
  display: flex;
  flex-direction: column;
}

.movie-details div {
  margin-bottom: 5px;
}

.vote-average-section img {
  width: 2rem;
  margin: 0;
}
