body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

#search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-button:hover {
  background-color: #e24b2b;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navigation {
  background-color: #dbdada;
  width: 100%;
  height: 2rem;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-block-end: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 0.5rem;
}

nav a:hover {
  color: #ff5733;
  background-color: rgba(255, 255, 255, 0.1);
}

nav a:visited {
  color: rgb(0, 0, 0);
}

h1,
h2 {
  color: #444343;
  text-align: center;
  margin-bottom: 1rem;
}

img {
  display: block;
  width: 50%;
  height: auto;
  max-width: 350px;
  margin: 0 auto 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  padding-block-start: 1rem;
}
.text-content {
  max-width: 600px;
  margin: 0 auto;
}

#cast-list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#cast-list li {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 0.7rem 1.2rem;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e24b2b;
}

#apiData {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.item img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.vote-average-section {
  display: flex;
}

.vote-average-section img {
  width: 1rem;
  height: auto;
  margin-right: 0.3rem;
}

.vote-average-section span {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin-inline-end: 0.8rem;
}

.input-field {
  display: flex;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(87, 86, 86);
}

.select-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.styled-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.styled-select option {
  padding: 10px;
  background-color: white;
  color: #333;
}
.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about-content h2 {
  margin-top: 1.5rem;
  color: #333;
  font-size: 1.5rem;
}

.about-content p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.8;
}

.about-content ul {
  margin-top: 1rem;
  list-style: disc inside;
  padding-left: 1rem;
}

.about-content ul li {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #666;
}

header h1 {
  padding-block-start: 1rem;
  text-align: center;
  color: #444343;
  margin-bottom: 1.5rem;
}

.img-container {
  position: relative;
}

.favorite-img {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  max-width: 30px;
  width: 10px;
  height: auto;
}

nav a {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.no-movies-message {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
  margin-top: 2rem;
}

.swap-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.swap-pages span {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.swap-pages span:hover {
  background-color: #007bff;
  color: #ffffff;
}

#currentPage {
  width: 50px;
  text-align: center;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #333;
}

#currentPage::-webkit-inner-spin-button,
#currentPage::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
