.cardElement {
  background-color: #c1bfbf;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

.cardOverview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}
