html,
body,
.container {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 30%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: gray;
}

.grid-item {
  border: 1rem;
  border-radius: 1rem;
  border-color: black;
}
